*{
  margin : 0;
  padding : 0;
}
body{
  display: flex;
}
.main-section{
  margin-left: 300px

}
#navbar{
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;}

nav header{
  font-size: 20px;
}
header{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;

}

  @media only screen and (max-width: 815px){

  #navbar ul {
    border: 1px solid;
    height: 207px;
  }
  #navbar {
   position: absolute;
   top: 0;
   padding: 0;
   margin: 0;
   width: 100%;
   max-height: 275px;
   border: none;
   z-index: 1;
   border-bottom: 2px solid;
 }

.main-section {
   position: relative;
   margin-left: 0px;
 }
 .main-section code {
   border-radius: 5px;
  background-color: #ac9 !important;
  border: 1px solid black !important;
 }
 #main-doc{
 margin-top: 270px;
 }

}
code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

